* {box-sizing: border-box}
body {
    background-image: url(../images/backgroundphoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Work Sans', sans-serif;
}

/* Style the tab */
.tab {
float: left;
border: 1px solid #ccc;
background-color: #f1f1f1;
width: 20%;
height: 600px;
background-color: rgba(#fff, #fff, #fff, 0.5);  
}

/* Style the buttons inside the tab */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #ccc;
}
.tab a{
    text-decoration: none;color:black;font-size: 20px;margin-left: 20px;
    margin-top: 100%;font-weight: bolder;font-family: 'Courier New', Courier, monospace;
}
/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 12px;
border: 1px solid #ccc;
width: 20%;
border-left: none;
height: 500px;
background-color: rgba(146, 137, 137,0.3);
}

#Paris h3 #showGroupEmp,#showGroupSkill{
	color:crimson;text-decoration: none;
    font-weight: bolder;font-style: oblique;font-family: 'Courier New', Courier, monospace;
}
#Paris #empGroup h4 a{text-decoration: none;color: black;font-style: oblique;}
#Paris #empskills h4 a{text-decoration: none;color: black;font-style: oblique;}
#Tokyo h3 a{
    text-decoration: none;color: crimson;
	font-style: oblique;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar .inner #ig img{
    width:150px;height: 150px;
}
.navbar #drop{
    border-top: 2px solid gray;
    height: 100%;width:100%;
}

		/*This Part Specials To Configrutions*/
#emp, #Position, #skillGroup, #skill, #addEmp/* , #addSkill */{
  position: absolute;z-index: 1000000;
  margin-left: 40%;margin-top: -40%;
  background-color: rgba(255, 255, 255, 0.8); 
  width: 450PX;height: 650px;padding: 50px;
  border-radius: 20px;
}
#emp h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#emp Table tr td{margin-bottom: 15px;}
#emp table tr td input{margin-left: 10px;margin-bottom: 15px;}
#emp #btn1, #btnAdd1{margin-top: 15px;margin-left: 40%;width: 100px;}

#Position h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#Position Table tr td{margin-bottom: 15px;}
#Position table tr td input{margin-left: 10px;margin-bottom: 15px;}
#Position #btn2, #btnAdd2{margin-top: 15px;margin-left: 40%;width: 100px;}

#skillGroup h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#skillGroup Table tr td{margin-bottom: 15px;}
#skillGroup table tr td input{margin-left: 10px;margin-bottom: 15px;}
#skillGroup #btn3, #btnAdd3{margin-top: 15px;margin-left: 40%;width: 100px;}

#skill h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#skill Table tr td{margin-bottom: 15px;}
#skill table tr td input{margin-left: 10px;margin-bottom: 15px;}
#skill #btn4, #btnAdd4{margin-top: 15px;margin-left: 40%;width: 100px;}

		/*This Part Specials To Operations*/
#addEmp h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#addEmp Table tr td{margin-bottom: 15px;}
#addEmp table tr td input{margin-left: 10px;margin-bottom: 15px;}
#addEmp #btnAddEmpClose, #btnAddEmp{margin-top: 15px;margin-left: 40%;width: 100px;}

/* #addSkill h2{font-style:oblique;margin-bottom:30px;color:#E4123f}
#addSkill Table tr td{margin-bottom: 15px;}
#addSkill table tr td input{margin-left: 10px;margin-bottom: 15px;}
#addSkill #btn1, #btnAdd1{margin-top: 15px;margin-left: 40%;width: 100px;} */